@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}
.scroll-button{
    cursor:pointer;
    z-index: 30;
    position: fixed;
    top:1278px;
    left:0;
    border-radius: 10px;
    width:380px;
    height:140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    color: var(--base-color);
    font-family: 'DOCKER TWO';
    background:var(--color-light-blue);
}
.container {
    max-width: 2230px;
    margin: 0 auto;
}

.title {
    font-family: 'DOCKER ONE';
    line-height: 115px;
    font-size: 96px;
}

.header {
    padding-top: 82px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

body {
    font-family: var(--base-font);
    font-size: var(--text-size);
    color: var(--text-color);
    background: var(--base-color);
}

.menu {
    padding-top:15px;
    &__list {
        display: flex;
        justify-content: center;
        
    }

    &__link {
        font-family: 'Montserrat', sans-serif;
        font-size: 52px;
        line-height: 63px;
        color: #002e43;
        font-weight: 400;
        text-transform: uppercase;
        &--center{
            margin-left: 16px;
            margin-right: 20px;
        }
    }
}

.wrapper {
    background: url('../assets/hand\ \(1\).png');
    background-repeat: no-repeat;
    background-position: 100% 15%;

}

.logo {

    img {
        width: 100%;
        height: auto;
    }
}

.lab {
    padding-top: 180px;
    padding-bottom: 150px;

    &__title {
        margin-bottom: 20px;
        max-width: 650px;
    }

    &__text {
        line-height: 66px;
        max-width: 1100px;
    }
}

// ----------------------------------------------services------------------------------------------//
.services {
    padding-top: 76px;
    &__inner {
        display: flex;
        align-items: center;
    }


    &__content {
        max-width: 860px;
    }

    &__image {
        width: 64%;
        display: flex;
        justify-content: center;
    }

    &__title {
        margin-bottom: 72px;
    }
    &__text{
        line-height: 76px;
    }
}

// ------------------------------------advertisement-----------------------------------------//
.advertisement {

    position: relative;
    z-index: 100;
    text-align: center;
    text-transform: uppercase;
    background: var(--color-dark-blue);

    &__container {
        max-width: 2350px;
    }

    &__word {
        font-size: 56px;
        line-height: 68px;
        color: var(--color-light-green);

        &--bold {
            font-weight: 900;
        }
    }
}

// -------------------------------------------flasks------------------------------------//
.flasks {
    padding-top: 210px;
    padding-bottom: 120px;

    &__title {
        font-size: 60px;
        text-align: center;
        margin-bottom: 210px;
        text-transform: uppercase;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        max-width: 1740px;
        margin: 0 auto
    }

    &__flask {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-img {
            margin-bottom: 90px;
        }

        &-name {
            font-family: 'DOCKER ONE';
            font-size: 48px;
            text-transform: uppercase;
        }
    }
}

// ------------------------contacts-------------------------//
.contacts {
    padding-top: 320px;
    padding-bottom: 360px;
    background: url('../assets/bottombcg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
        &__message{
            resize:none;
            border: 6px solid #002e43;
            border-radius: 100px;
            max-width: 850px;
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 70px;
            background-color: #eaeaf6;
            width: 850px;
            &::placeholder{
                font-size: 48px;
                color: #002e43;
                font-weight: 300;
            }
        }
        input {
            border: 6px solid #002e43;
            border-radius: 100px;
            max-width: 850px;
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 70px;
            background-color: #eaeaf6;
            width: 850px;

            &::placeholder {
                font-size: 48px;
                color: #002e43;
                font-weight: 300;
            }
        }
    }

}

// ---------------------------------footer----------------------------------//
.footer {
    text-transform: uppercase;
    font-size: 32px;
    padding-top: 34px;
    padding-bottom: 64px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }
}