:root{
    --base-font: 'Montserrat', sans-serif;
    --background-color:#eaeaf6;
    --color-light-green:#d2ff00;
    --color-light-blue:#4a8a95;
    --color-dark-blue:#073145;
    --color-orange:#fda000;
    --text-color:#002e43;
    --text-size:48px;
    --title-size:96px;
}